@import "../../styles/vars.scss";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

body{
    font-family: monospace;
    background: $bg;
    color: $foreground;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 30px;
    height: 100vh;

}

#screen{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

.quiz-container{
    width: 85vw;
    height: 80vh;
    background: $bg;
    border: 1px solid black;
    border-radius: 4px;
    margin-top: 4px;
    padding: 30px 60px;
    box-sizing: border-box;

    .section-heading{
        position: relative;
        font-size: 20px;
        padding-bottom: 5vh;
        //&::before{
            //     position: absolute;
            //     content: '';
            //     background-color: black;
            //     height: 3px;
            //     width: 20ch;
            //     left: 0;
            //     bottom: 35px;
            //     border-radius: 15px;  
            // } 
    }

    
    .active-question-no{
        font-size: 32px;
        font-weight: 500;
        color: $primary;

    }

    .total-question{
        font-size: 16px;
        font-weight: 500;
        color: $disabled;
    }

    h2{
        font-size: 30px;
        font-weight: 500;
        margin: 0;
    }

    ul{
        margin-top: 100px;
        margin-left: -40px;
        

        li{
            font-size: 20px;
            text-decoration: none;
            list-style: none;
            color: $foreground;
            background: $bg;
            border: 1px solid $disabled;
            border-radius: 8px;
            padding: 11px;
            margin-top: 15px;
            cursor: pointer;
        }
        .selected-answer{
            background: $primary;
            border: 1px solid $accent;
            color: $bg;
            transition: all 200ms ease-in;
        }
    }

    .footer{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        button{
            cursor: pointer;
            background: $primary;
            color: white;
            font-size: 15px;
            padding: 10px 30px;
            border-radius: 4px;
            border: 1px black solid;
            float: right;
        }

    }

    h3{
        font-size: 40px;
    }

    .Score{
        font-size: 30px;
    }

    .Status{

        font-size: 30px;
        font-family: 'Nunito Sans', sans-serif;
    }

    .Total-Score{
        padding-top: 50px;
        font-size: 40px;
        font-family: 'Nunito Sans', sans-serif;
    }

    .csv{
        margin-top: 30px;
        border: 1px solid black;
        padding: 10px 25px;
        border-radius: 10px;
        transition: all 150ms ease-in-out;
        &:hover{
            border-color: #8775e6;
            background-color: #8775e6;
            color: white;
        }    
    
    }
    

    
}

.Result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .result-heading{
        padding-bottom: 20px;
    }
}